body {
    margin: 0;
    padding: 0;
}

main {
    max-width: 56rem;
    margin-inline: auto;
}

nav {
    font-size: 1.4rem;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    padding: 1rem 0;
    ul {
        margin: 0;
        list-style: none;
        display: flex;
        gap: 1rem;
        li > a {
            text-decoration: none;
        }
        li > a:hover {
            text-decoration: underline;
        }
    }
}