body {
    margin: 0;
    padding: 0;
}

main {
    max-width: 65ch;
    margin-inline: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 1rem 2rem;
    
    font-size: 1.4rem;
    text-transform: uppercase;
    border-bottom: 1px solid black;

    img {
        width: 48px;
    }

    ul {
        margin: 0;
        list-style: none;
        display: flex;
        gap: 1rem;
        li > a {
            text-decoration: none;
        }
        li > a:hover {
            text-decoration: underline;
        }
    }
}